<div class="container">
  <h2>Register new account</h2>
  <div>
    <p>
      Already have an account?
      <button type="button" class="btn btn-secondary" (click)="router.navigate(['login'])">
        Click here to login
      </button>
    </p>
  </div>
  @if(errorMessage !== "Empty"){
  <div>
    @if(errorMessage === "Invalid"){
    <p>Please supply both a username and password</p>
    } @if(errorMessage.match("Username already taken")){
    <p>Username already taken</p>
    } @if(errorMessage.match("Username too long")){
    <p>Username too long (max 20)</p>
    }
  </div>
  }
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="input-name" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="input-name"
        placeholder="Username"
        required
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label for="input-password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="input-password"
        placeholder="Password"
        formControlName="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Create new account</button>
  </form>
</div>
