<div>
  <button class="btn btn-primary" (click)="router.navigate(['books'])">Switch to books-view</button>
  <button class="btn btn-secondary pull-right" (click)="lightDarkMode()">
    <i class="fa fa-sun-o fa-1x"></i>
  </button>
  <h2>Quotes</h2>
  <div>
    <button class="btn btn-danger" (click)="addQuote()">Add quote</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Content</th>
          <th scope="col">Author</th>
          <th scope="col">Edit | Remove</th>
        </tr>
      </thead>
      <tbody>
        @for(quote of quotes; track quote){
        <tr>
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{ quote.content }}</td>
          <td>{{ quote.author }}</td>
          <td>
            <button class="btn btn-primary" (click)="editQuote(quote)">
              <i class="fa fa-pencil fa-1x"></i>
            </button>
            <button class="btn btn-danger" (click)="removeQuote(quote.id)">
              <i class="fa fa-times fa-1x"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
