<div>
  <button class="btn btn-primary" (click)="router.navigate(['quotes'])">
    Switch to quotes-view
  </button>
  <button class="btn btn-secondary pull-right" (click)="lightDarkMode()">
    <i class="fa fa-sun-o fa-1x"></i>
  </button>
  <h2>Books</h2>
  <div>
    <button class="btn btn-dark" (click)="addBook()">Add book</button>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Publication date</th>
          <th scope="col">Edit | Remove</th>
        </tr>
      </thead>
      <tbody>
        @for(book of books; track book){
        <tr>
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publicationDate }}</td>
          <td>
            <button class="btn btn-primary" (click)="editBook(book)">
              <i class="fa fa-pencil fa-1x"></i>
            </button>
            <button class="btn btn-danger" (click)="removeBook(book.id)">
              <i class="fa fa-times fa-1x"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
